<div class="embed-responsive embed-responsive-21by9" id="home-background">
    <iframe src="https://www.hannover-living.de/wp-content/uploads/panorama/Aegidienkirche.html" frameborder="0" class="embed-responsive-item"></iframe>
</div>