@import "../../../variables.scss";

.wrapper-inner {
    background-color: #ebebeb;
}

.contact-location iframe {
    height: 300px;
    width: 100%;
}

.btn-color {
    background-color: $color-contrast-red;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:hover,
.uneditable-input:focus {   
  border-color: $color-contrast-red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $color-light-form-boxshadow;
  outline: 0 none;
}