<div class="container-fluid text-white wrapper-inner">
    <section>
        <h2 class="h1-responsive font-weight-bold text-center py-2">Kontakt</h2>
        <p class="text-center w-responsive mx-auto mb-5">Bei Fragen stehen wir Ihnen unter den angegebenen Kontaktdaten oder über das Kontaktformular zur Verfügung.</p>
        <div class="row bg-light py-4">
            <div class="col-md-9 mb-md-0 mb-5">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-0">
                                <label for="name" class="label-form">Ihr Name</label>
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-0">
                                <label for="email" class="label-form">Ihre E-Mail</label>
                                <input type="text" id="email" name="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <label for="subject" class="label-form">Thema</label>
                                <input type="text" id="subject" name="subject" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Ihre Nachricht</label>
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    Ich habe die
                                    <a routerLink="/datenschutz">Datenschutzerklärung</a>
                                    gelesen und aktzeptiere diese.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center text-md-left">
                    <a class="btn btn-color my-auto" onclick="document.getElementById('contact-form').submit();">Absenden</a>
                </div>
                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center my-auto contact-information">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Marianne Böttcher</p>
                    </li>

                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Gemeindebüro</p>
                    </li>

                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Hanns–Lilje–Platz 2, 30159 Hannover</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>Tel.: 0511 364370</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>E-Mail: Marktkirche.hannover@evlka.de</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="p-2 row contact-location">
        <h2 class="h2-responsive my-auto mx-auto pb-3">Hier sind wir zu finden</h2>
        <div class="map-responsive my-auto w-100 mx-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1218.0272848871223!2d9.738848874205015!3d52.369430510289405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaee5f4725cfaa281!2sDie+Aegidienkirche!5e0!3m2!1sde!2sde!4v1556524470604!5m2!1sde!2sde"
                class="w-100" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>