@import "../../../variables.scss";

* {
   color: black;
}

#btn-donate {
    background-color: $color-contrast-red;
}

#btn-donate:hover h4{
    color: white
}

.navbar-nav h4:hover {
    color: red;
}

.navbar-nav a:hover {
    border-spacing: 0 10px;
    border-bottom: 1px solid $color-contrast-red;
}