<nav class="navbar navbar-expand-lg navbar-light" color="primary">
  <a class="navbar-brand ml-5" routerLink=""><h2>Aegidienkirche</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2 ml-2 my-auto">
        <a class="nav-link" routerLink="startseite"><h4 class="my-auto">Startseite<span class="sr-only">(current)</span></h4></a>
      </li>
      <li class="nav-item mr-2 ml-2 my-auto">
        <a class="nav-link " routerLink="geschichte"><h4 class="my-auto">Geschichte</h4></a>
      </li>
      <li class="nav-item mr-2 ml-2 my-auto">
        <a class="nav-link" routerLink="neuigkeiten"><h4 class="my-auto">Neuigkeiten</h4></a>
      </li>
      <li class="nav-item  mr-2 ml-2 my-auto">
        <a class="nav-link" routerLink="kontakt"><h4 class="my-auto">Kontakt</h4></a>
      </li>
      <li class="nav-item mr-2 ml-2 my-auto">
        <a class="nav-link" routerLink="allroundview"><h4 class="my-auto">360° Ansicht</h4></a>
      </li>
      <!--<li class="nav-item">
        <button class="btn" id='btn-donate'>
            <a class="nav-link" routerLink="spenden"><h4 class="text-white my-auto">Spenden</h4></a>
        </button>
      </li>-->
    </ul>
  </div>
</nav>