<footer class="app-footer font-small pt-3 bg-light border-top border-danger">
    <div class="container-fluid text-center">
        <a class="mx-2" routerLink="impressum">Impressum</a>
        <a class="mx-2" routerLink="datenschutz">Datenschutzerklärung</a>
    </div>
    <div class="footer-copyright text-center py-2">Jakob Kühne & Lukas Böttcher © 2019</div>
</footer>