  <div class="wrapper container-fluid pb-5">
    <h2 class="h1-responsive font-weight-bold text-center my-auto py-2">Neuigkeiten</h2>
    <div class="row bg-light rounded shadow my-3">
      <img class="p-2 col-sm-2 border-right" src="../../../assets/45926110072_d3177b89bc_b.jpg" alt="Card image cap">
      <div class="p-2 col-sm my-auto text-black">
          <h4 class="card-title">Hannover illuminiert</h4>
          <h6>Lichtkunstfestival 2019</h6>
          <hr class="bg-danger">
          <p class="card-text text-black">Fünf Tage lang erstrahlte Hannover in besonderem Licht: Beim Lichtkunstfestival gab es an elf Orten in Hannover Lichtkunstwerke zu bestaunen. Der Termin für die Neuauflage steht fest!</p>
          <a href="https://www.visit-hannover.com/Event-Highlights%2C-Kultur-Freizeit/Top-Events-und-Veranstaltungen/Feste-und-Spezial/Hannover-illuminiert" target="_blank" class="btn btn-danger">Weiter lesen</a>
      </div>
    </div>
    <div class="row bg-light rounded shadow">
      <img class="p-2 col-sm-2 border-right" src="../../../assets/Einleuchtungen_II.jpg" alt="Card image cap">
      <div class="p-2 col-sm my-auto text-black">
        <h4 class="card-title">Einleuchtungen</h4>
        <h6>Eine Installation von Inge-Rose Lippok</h6>
        <hr class="bg-danger">
        <p class="card-text text-black">Seit Juni 2004 befindet sich in den Fensterbögen der Aegidienkirche die Installation Einleuchtungenvon Inge-Rose Lippok.</p>
        <a href="http://marktkirche-hannover.de/wp-content/uploads/MK_Aegi_Einleuchtungen.pdf" target="_blank"class="btn btn-danger">Weiter lesen (PDF)</a>
      </div>
    </div>
  </div>