<mdb-carousel class="carousel slide carousel-fade bg-dark" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view bg-dark mw-100">
      <a href="neuigkeiten">
        <img class="d-block img-fluid mx-auto" src="../../../assets/17879794_1100167280088241_4425986108350228496_o.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
    <div class="carousel-caption">
        <h3 class="h3-responsive text-white mb-5">Neuigkeiten</h3>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view bg-dark mw-100">
      <a href="geschichte">
        <img class="d-block img-fluid mx-auto" src="../../../assets/17879916_1100166936754942_2479428090247464844_o.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive text-white mb-5">Geschichte</h3>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view bg-dark mw-100">
      <a href="allroundview">
        <img class="d-block img-fluid mx-auto" src="../../../assets/17854829_1100167353421567_4251202696481971551_o.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive text-white mb-5">360° Ansicht</h3>
    </div>
  </mdb-carousel-item>
</mdb-carousel>