@import '../../../variables.scss';

.wrapper {
    background-color: $color-light-background-secondary;
}

.background-color {
    background-color: $color-light-background;
}

p {
    color: black;
}

.text-container {
    min-width: 100%;
}