<div class="wrapper">
    <h2 class="h1-responsive font-weight-bold text-center py-2">Geschichte</h2>
    <div class="container-fluid">
        <div class="row background-color text-container mb-5 p-5">
          <p class="text-center">Nahezu alle Kirchen im Zentrum Hannovers wurden im Zweiten Weltkrieg von Bomben zerstört oder stark beschädigt. Als Erinnerung daran steht die Ruine der Aegidienkirche –ein vielbesuchtes Mahnmal für die Opfer von Krieg und Gewalt. Erstmals wird die Aegidienkirche 1163 urkundlich erwähnt.Fundamentreste belegen eine dreischiffige basilikale Anlage mit Abmessungen ähnlich den heutigen. Außerdem wurden Reste eines älteren kleineren Vorgängerbaus entdeckt, der zeitlich nicht exakt datierbar ist.Das Kirchenschiff wurde 1347 in Form einer hochmittelalterlichen Hallenkirche aus Natursteinen errichtet. Haupt-und Nebenschiffe waren von Gewölben überdeckt. </p>    
        </div>

        <div class="row background-color text-center my-5 p-5">
         <div class="col-md align-self-center mx-3">
            <p class="mx-auto">Ab 1825 folgte der Umbau im Stil englischer Kirchen dieser Zeit nach Plänen des Hofbaumeisters Georg Ludwig Laves. Mittelschiffpfeiler und Gewölbe wichen von gusseisernen Säulen getragenen Längspriechen (Emporen) unter einer flach gewölbten Holzdecke. Ein klassizistischer Kanzelaltar, der gleichzeitig als Chorabschluss diente, kam hinzu. 1886 wurden nach einem Entwurf Conrad Wilhelm Hases ein neuer Altar und eine neue Kanzel gefertigt und zwei Sakristeianbauten am Chor errichtet. Im Sinne neugotischer Grundsätze wurden außerdem die Decken und Wände neu bemalt und die Glasfenster mit neuen Gemälden versehen. In diesem Zustand befand sich die Aegidienkirche bis zu ihrer Zerstörung.</p>
         </div>
          <div class="col-md-4">
            <img class="img-fluid mx-auto" src="../../../assets/aegidienkirche_1894.jpg">
            <p>Die Aegidienkirche 1894 von außen.</p>
         </div>
        </div>
          
        <div class="row background-color text-center my-5 p-5">
          <div class="col-md-4 mx-auto">
           <img class="img-fluid" src="../../../assets/aegidienkirche_1894_innenraum.jpg">
           <p>Die Aegidienkirche 1894 von innen.</p>
         </div>
          <p class="col-md align-self-center">Der Turm der Aegidienkirche hat ebenfalls eine wechselvolle Geschichte. Der alte Westturm, der vermutlich vom älteren romanischen Bau des 12. Jahrhunderts stammte, ist in einer Merian-Darstellung Hannovers von 1610/41 sowie in der hannoverschen Redecker-Chronik abgebildet. Seine markant hohe Pyramide prägte das mittelalterliche Stadtbild Hannovers maßgeblichIm Jahr 1671 wurde er wegen drohender Einsturzgefahr abgebaut und von 1703 bis 1717 durch einen Turm nach einem Entwurf von Sudfeld Vick ersetzt. Dieser Turm aus gleichmäßigen Sandsteinquadern, der über drei im Grundriss quadratischen Stockwerken in einem oktogonalen Helm abschloss, war 72 Meter hoch. Er prägte das Bild der Aegidienkirche bis zu ihrer Zerstörung.</p>
       </div>       
       
       <div class="row">
        <p></p>
       </div>

      <!--<h4 class="my-auto">http://marktkirche-hannover.de/wp-content/uploads/MK_Aegi_Geschichte_2.pdf</h4>-->

    </div>
</div>