/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './app/components/footer/footer.component.scss';
@import './app/components/head/head.component.scss';
@import './variables.scss';

body {
    height: 100vh;
    background-color: $color-light-background;
}