    $color-contrast-red: #FF3C38;

    $color-dark-background: #303030;
    $color-dark-background-secondary: #343a40; 
    $color-dark-form-boxshadow: rgb(172, 44, 42);

    $color-light-background: #f8f9fa;
    $color-light-background-secondary: #ebebeb;
    $color-light-form-boxshadow: rgb(172, 44, 42);